*.classpath
*.project
.settings/
target/
.idea
.idea/libraries
*.iml
/.metadata/
.DS_Store
.generated/
.vscode/
m-field-release-scripts/
.scannerwork/
sonar-reports/
compile_commands.json
*.log
**/MANIFEST.MF
**/.factorypath
/nb-configuration.xml
/nbactions.xml
